@import "../base/_vars";

.about__text-medium, .about__text-large {
  display: none;
}

.about__image{
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
}

.about-img{
  width: 100%;
  height: auto;
  display: block;
}

.about__inner{
  margin-bottom: 24px;
}
.about__text-container{
  margin-bottom: 16px;
}

.about__text-left{
  margin-bottom: 16px;
}

@media (min-width: 768px){
  .main__title {
    padding-bottom: 32px;
  }

  .about__inner{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin-bottom: 32px;
  }

  .about__text-container{
    width: 50%;
    align-self: stretch;
    justify-content: space-between;
    padding-right: 48px;
  }

  .about__text-medium{
    display: inline-block;
  }

  .about__image {
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }

  .about-img{
    border-radius: 6px;
  }

  .about__text-left{
    margin-bottom: 10px;
  }
}

@media (min-width: 1366px){
  .main__title {
    padding-bottom: 0;
  }

  .menu__button-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .main__menu-button{
    gap: 32px;
  }

  .about__text-left{
    margin-bottom: 13px;
  }

  .about__text-medium{
    display: none;
  }

  .about__text-large{
    display: inline-block;
  }
}
