.image-slider .brands__slide{
  max-width: 240px;
  height: 72px;
}

.brands__slide-button{
  align-items: center;
}

@media (min-width: 768px){
  .image-slider .brands__slide{
    min-width: 200px;
    max-width: 100%;
    height: 72px;
  }
}

