$blueBorderButtonColor: #B8FFEC;
$blueBorderLineColor: #D9FFF5;
$blueHighlightColor: #41F6D7;
$blackTextColor: #1B1C21;
$grayTextColor: #7E7E82;
$grayBorderColor: #EAEAEA;
$whiteColor: #FFFFFF;
$pinkColor: #FF3E79;
$backgroundColor: #F8F8F8;
$backgroundGradient: linear-gradient(to right, #F8F8F8, #FFFFFF);
$pinkHoverColor: rgba(255, 62, 121, 0.3);

$fontSizeLarge: 28px;
$fontSizeSmall: 14px;
$fontSizeBase: 16px;