@import "../base/_vars";

.footer__text{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 19px;
}

.footer__inner{
  border-top: 1px $blueBorderLineColor solid;
  width: calc(100% + 32px);
  margin-left: -16px;
  margin-right: -16px;
  position: relative;
}

@media (min-width: 768px){
  .footer__text{
    flex-direction: row;
    justify-content: space-between;
    padding-left:24px;
    padding-right:24px;
    &-developed{
      flex-basis: 33%;
      text-align: left;
    }
    &-confidentiality{
      flex-basis: 33%;
      text-align: center;
    }
    &-offer{
      flex-basis: 33%;
      text-align: right;
    }
  }
}