@import "../base/_vars";

.sidebar{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $whiteColor;
  top: 0;
  left: 0;
  z-index: 20;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

#sidebarOverlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  transition: background 0.3s;
}

.sidebar-container{
  min-width: 320px;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section--active {
  visibility: visible;
  opacity: 1;
}

.sidebar__inner{
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-bottom: 32px;
}

.sidebar__header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding-top: 16px;
}

.sidebar__menu{
  margin-top: 0;
  margin-bottom: auto;
}

.sidebar__button--hidden{
  margin-right: 16px;
}

.sidebar__button-search{
  margin-left: auto;
}

.sidebar__button-logo{
  width: 97px;
  height: 51px;
}

.sidebar__menu-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
}

.sidebar__info{
  display: flex;
  flex-direction: column;
  gap: 0;
}

.sidebar__info-button{
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 16px;
}

.sidebar__info-email{
  padding-bottom: 12px;
}

.sidebar__into-tel{
  padding-bottom: 8px;
}

.sidebar__lang-list{
  display: flex;
  gap: 7px;
  padding: 0;
}

.sidebar__menu-list .menu__item-active::before{
  content: "";
  position: absolute;
  height: 32px;
  width: 4px;
  left: 0;
  background-color: #41F6D7;
  border-radius: 0 10px 10px 0;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  transition: background 0.3s;
}

@media (min-width: 768px){
  .sidebar{
    width: 320px;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
  }

  .sidebar__header{
    padding-top: 19px;
    margin-bottom: 22px;
  }

}

@media (min-width: 1366px){
  .sidebar{
    width: 320px;
    height: 100vh;
    position: relative;
    visibility: visible;
    opacity: 1;
    box-shadow: none;
    z-index: 1;
  }

  .sidebar__button--hidden{
    display: none;
  }

  #menu-close{
    display: none;
  }

  #overlay{
    display: none;
  }

  .sidebar-container {
    position: fixed;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .sidebar__header{
    margin-bottom: 46px;
    padding-top: 30px;
  }

  .sidebar__menu-list{
    gap: 32px;
  }

  .sidebar__info-contacts{
    padding-bottom: 40px;
  }


  #sidebarOverlay {
    display: none!important;
  }
}
